# DO NOT SPECIFY AUTHENTICATION CREDENTIALS IN THIS FILE.  It should only be used
# to configure registry sources.

# original
registry=https://registry.npmjs.org/
@bentley:registry=https://registry.npmjs.org/

# failed

# registry=https://pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/
# @bentley:registry=https://registry.npmjs.org/

# to try

# registry=https://registry.npmjs.org/
# @bentley=registry=https://pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/

always-auth=true
